/* CSS RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* CUSTOM PROPERTIES */

:root{
    --purple: rgb(229,49,112);
    --skyblue: rgb(86,184,212)
}
/* GENERAL */

body {
    font-family: 'Fredoka', sans-serif;
}

h1 {
    color: var(--purple);
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 2.5rem;
}

p{
    font-size: 1.2rem;
}

img{
    height: 100px;
    margin-right: 10px;
}

/* UTILS */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.float-left{
    float: left;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* HEADER */

header{
    margin: 2.5rem 0;
    text-align: center;
}

/* CARDS SECTION */

.column{
    /* border: 1px solid blue; */
    width: calc(100%/3);
    padding: 10px;
}

.card{
    background-color: black;
}

address{
    color: white;
    font-style: normal;
    text-decoration: none;
    /* margin-top: calc((100px - 75px)/2); */
}

.name{
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: bolder;
}

.role{
    margin: 5px 0;
}

.email{
    color: var(--skyblue);
    text-decoration: none;
}